@import 'variables';
@import 'mixins';

.card {
    display: block;
    padding: 0px 0px 0px;
    border-radius: 5px;
    max-width: 100%;
    &Image {
        &:hover{

            box-shadow: $box-shadow-hover;
        }
    }
}